@media screen {
    /*.page-break	{ height:10px; background:url(img/page-break.gif) 0 center repeat-x; border-top:1px dotted #999; margin-bottom:13px; }*/
}
@media print {
    .page-break { height:0; page-break-after:always; margin:0; border-top:none; }
}
 .page-break { height:0; page-break-after:always; margin:0; border-top:none; }

.scatter.container{
	width: 8in;
	height: 9in;
	border-bottom: 1px solid #ccc;
	/*background: orange;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.dot{

}
.line{
	fill: none;
	stroke-width: 1px;
}

.asst.dot{
	fill: #1696d2;
}
.asst.line{
	stroke: #1696d2;
}

.noAsst.dot{
	fill: #c6c6c6;
}
.noAsst.line{
	stroke: #c6c6c6;
}
/*.scatter .text{
	color: white;
	font: 12pt Helvetica;
}*/