body{
	font-family: Lato;
	font-size: 10pt;
	  -webkit-print-color-adjust:exact;

}
@media screen{}
@media print {
    .page-break { height:0; page-break-after:always; margin:0; border-top:none; }
}
/*.page-break { height:0; page-break-after:always; margin:0; border-top:none; }*/

.head{
  width: 81%;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 300;
}
.head span{
  position: relative;
  top: -21px;
  left: 9px;
}
h2{
  font-size: 21pt;
  color: #1696d2;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  text-align: center;
}
h3{
  color: #333;
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
  width: 95%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
h3 span{
	color: #1696d2;
	font-weight: 500;
}
.caveat{
  text-align: center;
  margin: 0 auto;
  font-style: italic;
  width: 75%;
}
svg{
	margin-top: 20px;
	margin-left: 84px;
}
.scatter.container{
	width: 8in;
	/*height: 2in;*/
	border-bottom: 1px solid #ccc;
	/*background: orange;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}
.y.axis line{
	display: none
}
.grid-line{
	fill: none;
	stroke: #d9d9d9;
	stroke-dasharray: 2, 2;
}

.bar{

}
.line{
	fill: none;
	stroke-width: 3px;
}

/*See Teton County for need for barted line*/
.asst.line{
	stroke-dasharray: 5,4;
}
.noAsst.line{
	stroke-dasharray: 4, 4;
}

.asst.bar{
	fill: #c6c6c6;
}
.asst.line{
	stroke: #1696d2;
}

.noAsst.bar{
	fill: #1696d2;
}
.noAsst.line{
	stroke: #c6c6c6;
}

.subtitle, .footnote, .footer{
  margin: 0 auto;
  /* text-align: center; */
  width: 85%;
  font-weight: 500;
}

.footer{
	font-style: italic;
	margin-top: 15px;
}

/*Table*/
table{
	margin-top: 15px;
}
tr{
	height: 45px;
	border-bottom: 1px solid black;
}
td, th{
	width: 100px;
	/*border: 1pt solid black;*/	
}
td{
	/*text-indent: 20px;*/
	text-align: center
}
td.asst, th.asst{
	background: #c6c6c6;
	color: white;
}
td.noAsst, th.noAsst{
	background: #1696d2;
}

/*.scatter .text{
	color: white;
	font: 12pt Helvetica;
}*/