body{font: 12pt Lato;}
/*Map controls*/
.button{
  font: 14px Lato;
  color: #cccccc;
  font-weight: 900;
  float:left;
  background-color: #999999;
  text-align: center;
  border-right: 1px solid #888;

}

.year.button{
  width: 75px;
  height: 28px;
  vertical-align: middle;
}

.year.button span{
  position: relative;
  top: 5px;
}

.button.on{
  color: #fff;
  background-color: #00a6d2;
}
.button.off{
  color: #cccccc;
  background-color: #999999;
}

.button.active{
  color: #ffffff;
	background-color: #00a6d2;
}

.background {
  fill: none;
  pointer-events: all;
}
#counties {
  fill: red;
}


/*Map fill and stroke*/
.q0-9 { fill:rgb(247,251,255) !important; }
.q1-9 { fill:rgb(222,235,247) !important; }
.q2-9 { fill:rgb(198,219,239) !important; }
.q3-9 { fill:rgb(158,202,225) !important; }
.q4-9 { fill:rgb(107,174,214) !important; }
.q5-9 { fill:rgb(66,146,198) !important; }
.q6-9 { fill:rgb(33,113,181) !important; }
.q7-9 { fill:rgb(8,81,156) !important; }
.q8-9 { fill:rgb(8,48,107) !important; }

/*.ignored{ fill: #ccc !important;}*/

#states {
  fill: none !important;
}

#counties .active {
  fill: orange !important;
}
#state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: none;
}

#county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
/*  stroke-linejoin: round;
  stroke-linecap: round;*/
  pointer-events: none;
}


/*Detail view animations*/
/*.swing {
  perspective: 100px;
}*/
/*.swing li {
  list-style: none;
  background: #fff;
  color: #000;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 100%;
  transition: all 0.4s ease-out;
  opacity: 1;

}
*/
.detail.container{
  margin-top: 50px;
}
li {
 display:block;
 position:relative;
 padding:12px 6px;
 z-index:1;
 /*height: 36px;*/
 border-bottom: 1pt solid #cccccc;
 background: #ffffff;
}

li.ui-sortable-helper{
  background: #fdbf11;
  -webkit-box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);
  box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);  

}
li:after {
 display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; border-radius:6px; z-index:-1; }
li {
  -moz-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
  -webkit-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
   -o-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
   transition: border-top-width 0.1s ease-in,
                  background .2s ease-out;
  border-top:0px solid rgba(0,0,0,0);
}
.marker { opacity:0.0; }

/*.swing li.show {
  height: 2em;
  width: 100%;
  margin: 2px 0;
  opacity: 1;
}
*/
  /*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
  /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }*/
  /*#sortable li span { position: absolute; margin-left: -1.3em; }*/



/*Detail view layout*/
.close-button{
  cursor: pointer;
}
.close-button img{
  width: 29px;
  /*height: 29px;*/
}
.detail.container{
  /*border: solid;*/
  /*border-width: 1pt;*/
}

.detail.county{
  float: left;
  margin-left: 5px;
}

.county.name{
  width: 150px;
}

.total.bar{
  width: 200px;
  height: 20px;
  background: #fff;
  border: 1px solid #999999;
  position: relative;
  top: 6px;
  left: 15px;
}
.display.bar{
  height: 20px;
  background: blue;
  display: inline-block;
  position: absolute;
/*negative positions to take 1px border into account*/
  top: -1px; 
  left: -1px;
}
.asst.bar{
  height: 20px;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  display: inline-block;
  position: absolute;
  top: -1px; 
  left: -1px;
}

.marker.bar{
  background: none;
  height: 24px;
  border-right: 1px solid white;
  opacity: .5;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px;
}