body{
  margin: 0;
  font: 12px Lato;
}

/*Header*/
.header.container div{
  float: left;
}
.header.container{
  height: 59px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.header .button{
  font: 14px Lato;
  color: #cccccc;
  font-weight: 900;
  float:left;
  background-color: #999999;
  text-align: center;
  border-right: 1px solid #888;
  cursor: pointer;
}
.button.active{
  color: #ffffff;
  background-color: #00a6d2;
}

.assistance.label{
  margin-top: 4px;
  margin-right: 4px;
}
.help-button img{
  width: 15px;
  margin-top: 6.5px;
  margin-right: 11px;
}
.header.label{
  font: 13px Lato #333;
  font-weight: 700;
}

.button span{
  position: relative;
  top: 5px;
}

.assistance.container, .year.container{
  border-right: 1px solid #ccc;
  height: 43px;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 10px;
}

.assistance.button{
  width: 66px;
  height: 28px;
}

.year.label{
  margin-right: 11px;
}
.year.button{
  width: 75px;
  height: 28px;
  vertical-align: middle;
}

#button_2013, .assistance.button.turnOff{
  border-right: none;
}

div.ui-widget{
  margin-top: 16px;
  margin-left: 10px;
}
input.custom-combobox-input{
  background: #cccccc;
  border-radius: 0;
  outline:0;
  height: 28px;
  padding: 0;
  border: 0;
  font: 13px Lato !important;
  color: #333 !important;
  font-weight: 300 !important;
  font-style: italic !important;
  text-indent: 11px;
  width: 208px;
}
.ui-menu-item{
  background: #cccccc;
  font: 13px Lato !important;
  color: #333 !important;
  font-weight: 300 !important;
  font-style: italic !important;
}
.search-icon{
  position: relative;
  height: 18px;
  left: -24px;
  top: 4px;
}
.search-icon_background{
  height: 28px;
  width: 30px;
  position: relative;
  left: 208px;
  background: #ccc;
}
/*Map controls*/

.background {
  fill: none;
  pointer-events: all;
}
#counties {
  fill: #ccc;
  cursor: pointer;
}

#counties.grabbing{
  cursor: -webkit-grabbing;
}


/*Map fill and stroke*/
.q0-9 { fill:rgb(247,251,255) !important; }
.q1-9 { fill:rgb(222,235,247) !important; }
.q2-9 { fill:rgb(198,219,239) !important; }
.q3-9 { fill:rgb(158,202,225) !important; }
.q4-9 { fill:rgb(107,174,214) !important; }
.q5-9 { fill:rgb(66,146,198) !important; }
.q6-9 { fill:rgb(33,113,181) !important; }
.q7-9 { fill:rgb(8,81,156) !important; }
.q8-9 { fill:rgb(8,48,107) !important; }

.ignored{
/*fill: #ccc !important;*/
/*webkit-filter: grayscale(100%);*/
}

#states {
  fill: none !important;
}

#counties .active, .dropdown{
  fill: #fdbf11 !important;
}
#state-borders {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
  pointer-events: none;
}

#county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
/*  stroke-linejoin: round;
  stroke-linecap: round;*/
  pointer-events: none;
}


/*Map tooltip*/
.tooltip{
  width: 50px;
  /*height: 100%;*/
  position: absolute;
  /*left: 906px;*/
  top: 60px;
  background: rgba(255,255,255,0);
  /*opacity: .3;*/
  pointer-events: none;
}

.text.container{
  position: relative;
  top: 73%;
  float: right;
  margin-right: 3%;
}

.zoom{
  pointer-events: all;
}

/*Detail view animations*/
/*.swing {
  perspective: 100px;
}*/
/*.swing li {
  list-style: none;
  background: #fff;
  color: #000;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 100%;
  transition: all 0.4s ease-out;
  opacity: 1;

}
*/
.detail.container{
  margin-top: 50px;
}
ul#holder{ padding: 0;}
li {
 display:block;
 position:relative;
 padding:12px 6px;
 z-index:1;
 /*height: 36px;*/
 border-bottom: 1px solid #cccccc;
 background: #ffffff;
}

li.ui-sortable-helper{
  background: #fdbf11;
  -webkit-box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);
  box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);  

}
li:after {
 display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; border-radius:6px; z-index:-1; }
li {
  -moz-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
  -webkit-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
   -o-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
   transition: border-top-width 0.1s ease-in,
                  background .2s ease-out;
  border-top:0px solid rgba(0,0,0,0);
}
.marker { opacity:0.0; }

/*.swing li.show {
  height: 2em;
  width: 100%;
  margin: 2px 0;
  opacity: 1;
}
*/
  /*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
  /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }*/
  /*#sortable li span { position: absolute; margin-left: -1.3em; }*/



/*Detail view layout*/
.close-button{
  cursor: pointer;
  background: url('../images/close-button.png');
  width: 29px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
}
.close-button:hover{
  background: url('../images/close-button_hover.png');
  width: 29px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*.close-button img{
  width: 29px;
  /*height: 29px;*/
}*/
.detail.container{
  /*border: solid;*/
  /*border-width: 1px;*/
}

.detail.county{
  float: left;
  margin-left: 5px;
}

.county.name{
  width: 150px;
}

.detail.totalPop{
  width: 100px;
  float: left;
}

.bar.hover{
  background: #fdbf11 !important;
  border: 1px solid #fdbf11 !important;
  opacity: 1;
  z-index: 2;
}

.bar.marker.hover{
  opacity: 1;
  background: #fdbf11 !important;
  height: 20px;
  border: 1px solid #fdbf11;
  left: -1px;
  top: -1px;
}

.total.bar{
  width: 200px;
  height: 20px;
  background: #fff;
  border: 1px solid #999999;
  position: relative;
  top: 6px;
  left: 15px;
}
.display.bar{
  height: 20px;
  background: blue;
  display: inline-block;
  position: absolute;
/*negative positions to take 1px border into account*/
  top: -1px; 
  left: -1px;
}
.asst.bar{
  height: 20px;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  display: inline-block;
  position: absolute;
  top: -1px; 
  left: -1px;
}

.marker.bar{
  background: none;
  height: 24px;
  border-right: 1px solid white;
  opacity: .5;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px;
}

.bar.text{
  float: left;
  position: relative;
  font: 30px Lato;
  color: #0096d2;
  font-weight: 700;
}

/*Header detail labels*/
.print.button{
  background: #333;
  color: white;
  font: 13px Lato;
  font-weight: 900;
  width: 184px;
  height: 36px;
  float: right;
  position: relative;
  bottom: 36px;
  right: 84px;
  cursor: pointer;
}
.print.button img{
  height: 17px;
  padding-top: 12px;
  padding-left: 18px;
  padding-right: 12px;
}
.print.button span{
  top: -5px
}
.headerRow{
  width: 100%;
  height: 28px;
  position: absolute;
  background: #b3b3b3;
  font: 14px Lato;
  font-weight: 900;
  border-top: 3px solid #333;
}

.headerRow .header{
  color: #fff;
  float: left;
  height: 28px;
  padding-top: 6px;
  text-align: left;
  text-indent: 19px;
  border-right: 1px solid #fff;
}

.left.gutter.header{
  border-right: none;
}
.location.header{
  width: 267px;
}
.population.header{
  width: 153px;
}
.per100.header{
  width: 300px;
}
.total.header{
  width: 177px;
  border-right: none;
}

/*Footer*/
.footerRow{
  background: #333;
  color: white;
}

.footer.text{
  font: 13px Lato #fff;
}