body{
  margin: 0;
  font: 12px Lato;
  color: #333;
  background-color: #fff;
}

/*Header*/
.header.container div{
  float: left;
}
.header.container.top{
  height: 0px;
  border: none;
  position: relative;
  top: -57px;
  float: right;
  left: 78%;
}
.header.container{
  height: 59px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.header .button{
  font: 14px Lato;
  color: #cccccc;
  font-weight: 900;
  float:left;
  background-color: #e6e6e6;
  text-align: center;
  border: 1px solid #b3b3b3;
  cursor: pointer;
}
.button.active{
  color: #ffffff;
  background-color: #00a6d2;
}
.button:hover{
  background-color: #FDBF11;
  color: #fff;
}

.assistance.label{
  margin-top: 4px;
  margin-right: 4px;
}

.help-button{
  margin-top: 9.5px;
  margin-right: 11px;
  background: url('../images/help-button.png');
  width: 15px;
  height: 15px;
  top: -3px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}
.help-button:hover{
  background: url('../images/help-button_hover.png');
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}
.help.text.ami{
  /*opacity: .5;*/
  color: #fff;
  position: absolute;
  width: 147px;
  height: 70px;
  top: -124px;
  left: -35px;
  pointer-events: none;
}
.help.text.asst{
  width: 206px;
  color: white;
  float: left;
  clear: both;
  position: fixed;
  z-index: 2;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 23px;
  padding-bottom: 23px;
  pointer-events: none;
}
/*.help.text.asst:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -28px;
  width: 0;
  height: 0;
  border-bottom: solid 5px #333;
  border-top: none;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  pointer-events: none;
}
*/
.header.label{
  font: 15px Lato;
  color: #333;
  font-weight: 700;
}

.button span{
  position: relative;
  top: 5px;
}

.assistance.container{
  margin-left: 30%;
}
.assistance.container, .year.container{
  height: 43px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 10px;
}

.assistance.button{
  width: 66px;
  height: 28px;
}

.header.container .year.label{
  margin-left: 22px;
  padding-top: 5px;
}
.year.label{
  margin-right: 11px;
}
.year.button{
  width: 86px;
  height: 28px;
  z-index: 1;
  vertical-align: middle;
}

#button_2013, #button_2006, .assistance.button.turnOff{
  border-left: none;
}

div.ui-widget{
  margin-top: 16px;
  margin-left: 10px;
}
input.custom-combobox-input{
  background: #cccccc;
  border-radius: 0;
  outline:0;
  height: 28px;
  padding: 0;
  border: 0;
  font: 13px Lato !important;
  color: #333 !important;
  font-weight: 300 !important;
  font-style: italic !important;
  text-indent: 11px;
  width: 208px;
}
.ui-menu-item{
  height: 20px;
  background: #cccccc;
  font: 13px Lato !important;
  color: #333 !important;
  font-weight: 300 !important;
  font-style: italic !important;
}
.search-icon{
  position: relative;
  height: 18px;
  left: -24px;
  top: 4px;
}
.search-icon_background{
  height: 28px;
  width: 30px;
  position: relative;
  left: 208px;
  background: #ccc;
}
/*Map controls*/

.background {
  fill: none;
  pointer-events: all;
}
#counties {
  fill: #ccc;
  cursor: pointer;
}

#counties.grabbing{
  cursor: -webkit-grabbing;
}
/*Alaska boroughs not in the data*/
path.fips_2280, path.fips_2130, path.fips_2201{
  pointer-events: none;
}

/*Map fill and stroke*/
/*.q0-5 { fill:rgb(247,251,255) !important; }
.q1-5 { fill:rgb(222,235,247) !important; }
.q2-5 { fill:rgb(198,219,239) !important; }
.q3-5 { fill:rgb(158,202,225) !important; }
.q4-5 { fill:rgb(107,174,214) !important; }
.q5-5 { fill:rgb(66,146,198) !important; }*/
/*.q6-9 { fill:rgb(33,113,181) !important; }
.q7-9 { fill:rgb(8,81,156) !important; }
.q8-9 { fill:rgb(8,48,107) !important; }
*/
.ignored{
/*fill: #fe0103 !important;*/
/*/webkit-filter: grayscale(100%);*/
}

#states {
  fill: #ccc;
  opacity: 0;
}

#counties .active, .dropdown, .hover{
  fill: #fdbf11 !important;
  stroke: #fdbf11 !important;
}
#counties .hover2{
  fill: #ffda91 !important;
  stroke: #ffda91 !important;

}
#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  pointer-events: none;
}

#county-borders {
  fill: none;
  /*stroke: #fff;*/
  stroke-width: 0.5px;
/*  stroke-linejoin: round;
  stroke-linecap: round;*/
  pointer-events: none;
}
path.undefined{
  pointer-events: none;
}

/*Map tooltip*/
.defaultTooltip{
  margin-top: -90px;
}
.defaultTooltip .big{
  font: 25px Lato;
  font-style: italic;
}
.defaultTooltip .small{
  font: 16px Lato;
  font-style: italic;
}

.lowPopTop{
  margin-right: 17%;
  margin-top: 25px;
  width: 156px;
  float: right;
  padding: 8px;
  border-right: 5px solid;
  border-color: #fdbf11;
  position: relative;
  left: 400px;
}
.tooltip{
  width: 50px;
  height: 536.5px;
  position: absolute;
  /*left: 906px;*/
  top: 455px;
  background: rgba(255,255,255,0);
  /*opacity: .3;*/
  z-index: 0;
  pointer-events: none;
}

.text.container{
  height: 150px;
  margin-top: 140px;
  margin-left: 20px;
  font: 14px Lato;
  color: #333;
  font-style: italic;
}
.county-name.tooltipDetail{
  font: 18px Lato;
  font-weight: 900;
  color: #0096d2;
}
.state-name.tooltipDetail{
  font: 16px Lato;
  font-weight: 400;
  color: #333;
}
.relative .tooltipNum{
  font: 18px Lato;
  font-weight: 700;
  color: #0096d2; 
}
.total .tooltipNum, .absolute .tooltipNum{
  font: 14px Lato;
  font-weight: 700;
  color: #333;
  font-style: normal; 
}
.ami-button{
  background: url('../images/dollah-icon.png');
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 2px;
  left: 8px;
  pointer-events: auto;
}
.ami-button:hover{
  background: url('../images/dollah-icon_hover.png');
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}
.zoom.in{
  margin-top: 80px; 
}
.zoom{
  position: relative;
  left: 80%;
  bottom: 50px;
  width: 24px;
  height: 30px;
  font: 20px Lato;
  font-weight: 700;
  text-align: center;
  color: 989898;
  background: #E5E5E5;
  border: 1pt solid #CCCCCB;
  pointer-events: auto;
  cursor: pointer;
}

.legend.container{
  width: 20px;
  left: 75%;
  top: 37px;
  position: relative;
}
.legend.key{
  width: 22px;
  height: 32px;
  pointer-events: auto;
}
.legend.key span{
  position: relative;
  left: 26px;
  top: -6px;
}
.legendTitle{
  width: 90px;
  font-weight: 700;
  position: absolute;
  text-align: right;
  right: 27px;
  top: -4px;
  line-height: 13px;
}
/*Detail view animations*/
/*.swing {
  perspective: 100px;
}*/
/*.swing li {
  list-style: none;
  background: #fff;
  color: #000;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 100%;
  transition: all 0.4s ease-out;
  opacity: 1;

}
*/
.detail.container, .expand.container{
  margin-top: 50px;
}
ul#holder{ padding: 0;}
li {
 height: 81px;
 display:block;
 position:relative;
 padding:12px 6px;
 z-index:1;
 /*height: 36px;*/
 border-bottom: 1px solid #333;
 background: #ffffff;
}
li.lowPop{
  padding-top: 44px;
}
.expand .lowPopBottom{
  display: none;
}
.lowPopBottom{
  width: 350%;
  position: absolute;
  top: -38px;
  font: 12px Lato;
  font-style: italic;
  color: #333;
  border-left: 4px solid #fdbf11;
  padding-top: 7px;
  padding-left: 10px;
}
ul#holder li:nth-child(2){
  border-top: 1px solid #ccc;
}

li.ui-sortable-helper{
  background: #fdbf11;
  -webkit-box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);
  box-shadow: 9px 7px 33px -6px rgba(0,0,0,0.66);  

}
li:after {
 display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; border-radius:6px; z-index:-1; }
li {
  -moz-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
  -webkit-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
   -o-transition:border-top-width 0.1s ease-in,
                  background .2s ease-out;
   transition: border-top-width 0.1s ease-in,
                  background .2s ease-out;
  border-top:0px solid rgba(0,0,0,0);
}
.dummy{
  display: none;
}
.marker { opacity:0.0; }

.national_key, .detail.container.fips_national {
    width: 100%;
    height: 116px;
    position: relative;
    top: 31px;
    pointer-events: none;
}
.fips_national.total.bar{
  pointer-events: auto;
}
.us_caption_asst{
  font-style: italic;
  position: relative;
  top: 48px
}
.us_line_asst{
  width: 1px;
  height: 12px;
  background: #ccc;
  position: absolute;
  top: -10px;
}
.us_caption_noAsst{
  font-style: italic;
  font-weight: 700;
  color: #1696D2;
  position: relative;
  top: 49px;
}
.us_line_noAsst{
  width: 1px;
  height: 26px;
  background: #ccc;
  position: absolute;
  top: -26px;
}
/*.national_key.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}*/
.cloned{
  display: none;
}

/*.swing li.show {
  height: 2em;
  width: 100%;
  margin: 2px 0;
  opacity: 1;
}
*/
  /*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
  /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }*/
  /*#sortable li span { position: absolute; margin-left: -1.3em; }*/



/*Detail view layout*/
.close-button{
  cursor: pointer;
  background: url('../images/close-button.png');
  width: 29px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -57px;
  position: relative;
  margin-right: 17px;
}
.close-button:hover{
  background: url('../images/close-button_hover.png');
  width: 29px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*.close-button img{
  width: 29px;
  /*height: 29px;*/
}*/
.detail.container{
  /*border: solid;*/
  /*border-width: 1px;*/
}

.county{
  float: left;
  margin-left: 5px;
}
.name{
  width: 247px;
  font: 16px Lato;
  font-weight: 700;
  color: #0096d2;
  position: relative;
  top: -56px;
}
.year.label{
  font: 15px Lato;
  font-weight: 700;
  color: #333;
}
.expand_years{
  width: 98px;
  height: 23px;
  font: 13px Lato;
  font-weight: 300;
  color: white;
  background: #999;
  text-align: center;
  margin-top: 12px;
  cursor: pointer;
}
.expand_years span{
  position: relative;
  top: 3px;
}
.totalPop{
  font: 16px Lato;
  color: #333;
  width: 153px;
  float: left;
  text-indent: 19px;
  top: -38px;
  position: relative;
}
.totalPop.expand{
  left: 49px;
  width: 201px;
}


/*All years detail*/
.expanded .detail.container{
  background: #F8F8F8;
}
/*.expanded{
  top: -70px;
  position: relative;
}*/
.expand.county.name span, .expand.county.close-button, .expand.expand_years, .expand.fullName{
  display: none;
}

.expand.county.name{
  text-align: right;
  position: relative;
  top: -38px;
}
/*.expand_bg{
  width: 100%;
  background: #f8f8f8;
  height: 79px;
  position: relative;
  top: 18px;*/
  /*left: -100px;
  z-index: -1;*/
}
.bar{
  pointer-events: auto;
}
.bar.hover{
  background: #fdbf11 !important;
  border: 1px solid #fdbf11 !important;
  opacity: 1;
  z-index: 2;
}

.bar.marker.hover{
  opacity: 1;
  background: #fdbf11 !important;
  height: 34px;
  border: 1px solid #fdbf11;
  left: -1px;
  top: -1px;
}

.total.bar{
  width: 171px;
  height: 34px;
  background: #fff;
  border: 1px solid #999999;
  position: relative;
  top: -38px;
  left: 15px;
}
.total.units{
  font: 16px Lato;
  color: #333;
  width: 153px;
  float: left;
  text-indent: 19px;
  top: -38px;
  left: 92px;
  position: relative;
}
.display.bar{
  height: 34px;
  background: blue;
  display: inline-block;
  position: absolute;
/*negative positions to take 1px border into account*/
  top: -1px; 
  left: -1px;
}
.asst.bar{
  height: 34px;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  display: inline-block;
  position: absolute;
  top: -1px; 
  left: -1px;
}

.marker.bar{
  background: none;
  height: 38px;
  border-right: 1px solid white;
  opacity: .5;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px;
}

.bar.text{
  width: 36px;
  float: left;
  position: relative;
  font: 30px Lato;
  color: #0096d2;
  font-weight: 700;
  left: 28px;
  top: -40px;
}
.caption{
  font-size: 13px;
  color: #333;
  position: absolute;
  top: 40px;
  font-style: italic;
}

/*Header detail labels*/
.print.button{
  background: #ccc;
  color: white;
  font: 13px Lato;
  font-weight: 900;
  width: 202px;
  height: 36px;
  float: left;
  position: relative;
  bottom: 36px;
  left: 84px;
  cursor: pointer;
}
.print.border{
  height: 3px;
  width: 100%;
  position: relative;
  background: #ccc;
  z-index: 4;
}
.print.button img{
  height: 17px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 8px;
}
.print.button span{
  top: -5px
}
.disclaimer{
  width: 432px;
  left: 300px;
  bottom: 18px;
  position: relative;
  color: #999;
  font-style: italic;
  opacity: 1;
  height: 17px;
}
.headerRow{
  width: 100%;
  height: 40px;
  position: absolute;
  background-color: rgba(0,0,0,0);
  font: 14px Lato;
  font-weight: 900;
  /*border-top: 3px solid #ccc;*/
}

.headerRow .header{
  color: #fff;
  background-color: #b3b3b3;
  float: left;
  position: relative;
  top: -3px;
  height: 31px;
  padding-top: 12px;
  text-align: left;
  text-indent: 19px;
  border-right: 1px solid #fff;
}
.population.header{
  padding-top: 6px;
  height: 37px;
}
.help.text{
  background: #333;
  font: 12px Lato;
  font-weight: 300;
  font-style: italic;
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: -2;
  opacity: 0;
  /*top: -45px;*/
}
.help.text:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 5px #333;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    pointer-events: none;
}

.gutter.header{
  background-color: #b3b3b3;  
}
.left.gutter.header{
  border-right: none;
}
.location.header{
  background-color: #b3b3b3;
  width: 267px;
}
.population.header{
  width: 153px;
}
.per100.header{
  width: 300px;
}
.total.header{
  width: 177px;
  border-right: none;
}


/*Bottom Menu*/
.arrow{
  cursor: pointer;
  background: url('../images/down-arrow.png');
  width: 20px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: auto;
  position: relative;
  top: -13px;
  left: 106px;
}
.arrow:hover{
  cursor: pointer;
  background: url('../images/down-arrow_hover.png');
  width: 20px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.arrow.clicked:hover, .arrow.clicked{
  background: url('../images/up-arrow.png');
  width: 20px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.radio{
  cursor: pointer;
  background: url('../images/year-button.png');
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.radio:hover, .radio.clicked{
  background: url('../images/year-button_click.png');
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.bottom_menu{
  top: -20px;
  position: relative;
  background: #f8f8f8;
}
.bottom_menu div{
  float: left;
  margin-top: 26px;
  pointer-events: auto;
}
.bottom_menu div.text{
  font: 13px Lato;
  font-style: italic;
  font-weight: 700;
  margin-right: 10px
}
.bottom_menu div.text.right{
  margin-left: 47px;
}
.bottom_menu div.label{
  font: 14px Lato;
  font-weight: 400;
  margin-right: 17px;
  margin-left: 3px;
}
.small_button{
  width: 52px;
  height: 24px;
  margin-top: 22px !important;
  font: 14px Lato;
  color: #cccccc;
  font-weight: 900;
  background-color: #999999;
  text-align: center;
  border-right: 1px solid #888;
  cursor: pointer;
}

.small_button.active, .small_button:hover{
  color: #ffffff;
  background-color: #00a6d2;
}
.small_button span{
  position: relative;
  top: 4px;
}
/*Footer*/
.footerRow{
  background: #333;
  color: white;
  height: 795px;
  top: -12px;
  position: relative;
}

.footer.text{
  font: 14px Lato #fff;
}
.footer.title{
  font: 16px Lato;
  font-weight: 500;
  clear: both;
}
hr{
  background: #b3b3b3;
}

.left.footer{
  padding-top: 45px;
  width: 445px;
  margin-left: 84px;
  font-size: 14px;
  font-weight: 200;
  float: left;
  clear: both;
}

.right.footer{
  display: inline-block;
  width: 490px;
  left: 84px;
  float: left;
  position: relative;
}

.right.footer h1{
  color: #0096d2;
  font: 15px Lato;
}
.right.footer h2{
  font: 15px Lato;
  font-weight: 500;
  margin-bottom: 0px;
}
.right.footer p{
  font: 13px Lato;
  font-style: italic;
  margin-top: 0px;
}
.right.footer a{
  text-decoration:none;
  color: #fff
}
.right.footer a:hover{
  color: #0096d2;
}

.footer.read, .footer.data, .footer.print{
  float: left;
  /*clear: both;*/
  height: 40px;
  width: 112px;
  border: 1px solid #f2f2f2;
  margin-right: 7px;
  margin-top: 45px;
  margin-bottom: 57px;
  cursor: pointer;
  font: 13px Lato;
  font-weight: 500;
}
.footer.data:hover, .footer.print:hover, .footer.read:hover{
  background-color: #fcb918;  
}
.footer.read span{
  top: 11px;
  position: relative;
  left: 21px;
}
.footer.data span{
  position: relative;
  top: 3px;
  left: 16px;
}
.footer.data img{
  position: relative;
  top: 8px;
  left: 10px;
}
.footer.data{
  width: 135px;
}
.footer.print img{
  height: 17px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 8px;
}
.footer.print span{
  position: relative;
  top: -5px;
  left: 2px;
}
.footer.print{
  width: 198px;
}

.left.credits{
  float: left;
  clear: both;
  width: 228px;
}

.fips_national .county.name{
  left: 54px;
}
.totalPop.fips_national{
  left: 58px;
  width: 210px;
}
.national_key{
  /*display: none;*/
}